:root{
  --fuente-naranja:"Bungee Spice", sans-serif;
  --fuente-semi-naranja:"Honk", system-ui;
  --fuente-roja:"Bungee Tint", sans-serif;
  --fuente-negra:"Monofett", monospace;
}

  /* font-family: "Bungee Tint", sans-serif; */